<div class="p-[60px] flex flex-col justify-center items-center w-full bg-primary">
    <div class="w-full mb-3 flex items-center gap-1">
        <div class="text-5xl text-white font-bold">Gestión de Roles</div>
        <p-menu #menu [model]="items" [popup]="true" />
        <p-button (click)="menu.toggle($event)" icon="pi pi-spin pi-cog" [rounded]="true" [outlined]="true"
            severity="primary" [outlined]="true" />
    </div>
    <div class="card">
        <p-toast></p-toast>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

        <div class="flex justify-end mb-4">
            <p-button label="Crear Rol" icon="pi pi-plus" class="p-button-success"
                (onClick)="openNew()"></p-button>
        </div>

        <p-table class="w-full" #dt [value]="roles" [rows]="10" [paginator]="true" [globalFilterFields]="['descripcion', 'id']"
            [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id" style="min-width:5rem">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="descripcion" style="min-width:25rem">Descripción <p-sortIcon field="descripcion"></p-sortIcon></th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rol>
                <tr>
                    <td>{{rol.id}}</td>
                    <td>{{rol.descripcion}}</td>
                    <td>
                        <p-button icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (onClick)="editRol(rol)"></p-button>
                        <p-button icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (onClick)="deleteRol(rol)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-dialog [(visible)]="rolDialog" [style]="{width: '450px'}" header="Detalles de Rol" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="form">
                    <div class="field mb-3">
                        <label for="descripcion">Descripción</label>
                        <input type="text" pInputText id="descripcion" formControlName="descripcion" required autofocus />
                        <small class="p-error" *ngIf="submitted && f['descripcion'].errors?.['required']">Descripción requerida.</small>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveRol()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRolDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="rol">¿Estás seguro de que quieres eliminar el rol <b>{{rol.descripcion}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteRolDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
