<div class="bg-white w-full p-4 rounded-lg relative">
    <div class="absolute top-[-40px] left-0 w-full flex justify-between items-end px-5 z-20">
        <div class="bg-secondary rounded-full p-4 shadow-lg text-white">
            @switch (type) {
                @case ('game') {
                    <i class="fa-solid fa-gift"></i>
                    <span>
                        ¿Como funciona GiftLy?
                    </span>
                }
                @case ('message') {
                    <i class="fa-solid fa-envelope"></i>
                    <span>
                        ¿Como enviaremos tu mensaje?
                    </span>
                }
                @case ('location') {
                    <i class="fa-solid fa-location-dot"></i>
                    <span>
                        ¿Como funciona el envio del regalo?
                    </span>
                }
                @case ('more-details') {
                    <i class="fa-solid fa-phone-volume"></i>
                    <span>
                        Es necesaria la comunicación con el cliente.
                    </span>
                }
                @case ('payment') {
                    <i class="fa-solid fa-gift"></i>
                    <span>
                        ¡Estas a un pago de confirmar tu regalo!
                    </span>
                }
                @default {
                Default case.
                }
            }
        </div>
    </div>
    <div class="items-center gap-4 m-4">
        @switch (type) {
            @case ('game') {
                <div>
                    Giftly es un servicio que te permite enviar regalos personalizados a tus seres queridos.
                </div>
                <br />
                <div>
                    Tienes es proceso de personalización, envio y confirmación de tu regalo.
                </div>
                <br />
                <div>
                    ¡Sin embargo hay mucho mas!
                </div>
                <br />
                <div>
                    Al comprar tu regalo tienes la posibilidad de ganar puntos los cuales puedes convertirlos en descuentos.
                </div>
                <br />
                <div>
                    ¿Eso es todo?
                </div>
                <br />
                <div>
                    No, hay mucho mas!
                </div>
                <br />
                <div>
                    Puedes Registrarte e invitar a tus seres queridos, así tambien ganar puntos y recompensas.
                </div>
                <br />
                <div>
                    ¿Nada mas?
                </div>
                <br />
                <div>
                    No, hay mucho mas! Siguenos en nuestras redes sociales para estar al tanto de nuestras ofertas y novedades.
                </div>
            }
            @case ('message') {
                <div>
                    Tu mensaje se enviara al objetivo del regalo en una tarjeta se leerá el emisor del mensaje, su receptor y el mensaje.
                </div>
            }
            @case ('location') {
                <div>
                    Es importante que verifique los campos de ubicación para que el delivery pueda realizar el servicio correctamente.
                </div>
            }
            @case ('more-details') {
                <div>
                    Es indispensable tu informacion de contacto para que podamos enviarte la confirmacion del servicio y responder cualquier duda.
                </div>
            }
            @case ('payment') {
                <div>
                    Ahora revisa los detalles de tu regalo y confirma el pago entregando el comprobante.
                </div>
                <br />
                <div>
                    Se te enviará la confirmación del pedido y solo quedará esperar al regalo.
                </div>
            }
            @default {
            Default case.
            }
        }
    </div>
    <div class="flex justify-end">
        <p-button label="Volver" (click)="ref.close()" [text]="true" severity="secondary" />
    </div>
</div>