::ng-deep .p-dialog-content {
    padding: 40px;
    max-width: 600px;
    background-color: transparent;
}

::ng-deep .p-dialog {
    background-color: transparent;
    border-radius: 0%;
    border: none;
    box-shadow: none;
}