<div class="min-h-screen flex items-center justify-center py-4 px-4 sm:px-6 lg:px-8"
    style="background: linear-gradient(30deg, #ffffff 0%, #5046e5 100%);">
    <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow-2xl">
        <div>
            <div class="text-center text-3xl font-bold text-gray-900">
                Únete a WinGift
            </div>
            <p class="text-center text-sm text-gray-600">
                ¿Tienes una cuenta?
                <a routerLink="/login" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Inicia sesión
                </a>
            </p>
        </div>
        <form class="space-y-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="rounded-md shadow-sm -space-y-px">
                <div class="mb-4">
                    <label for="nombreCompl" class="block text-sm font-medium text-gray-700">Nombre Completo</label>
                    <input id="nombreCompl" name="nombreCompl" type="text" required formControlName="nombreCompl"
                        class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="Nombre Completo">
                    <div *ngIf="registerForm.get('nombreCompl')?.invalid && (registerForm.get('nombreCompl')?.dirty || registerForm.get('nombreCompl')?.touched)"
                        class="text-red-500 text-xs mt-1">
                        <div *ngIf="registerForm.get('nombreCompl')?.errors?.['required']">Name is required.</div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="email-address" class="block text-sm font-medium text-gray-700">Email</label>
                    <input id="email-address" name="email" type="email" autocomplete="email" required
                        formControlName="email"
                        class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="Email">
                    <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                        class="text-red-500 text-xs mt-1">
                        <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                        <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div>
                    </div>
                </div>
                <div class="mb-4 pt-2">
                    <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                    <input id="password" name="password" type="password" autocomplete="new-password" required
                        formControlName="password"
                        class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="Contraseña">
                    <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
                        class="text-red-500 text-xs mt-1">
                        <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6
                            characters.</div>
                    </div>
                </div>
                <div class="mb-4 pt-2">
                    <label for="fechaNacimien" class="block text-sm font-medium text-gray-700">Fecha de Nacimiento</label>
                    <input id="fechaNacimien" name="fechaNacimien" type="date" required formControlName="fechaNacimien"
                        class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <div *ngIf="registerForm.get('fechaNacimien')?.invalid && (registerForm.get('fechaNacimien')?.dirty || registerForm.get('fechaNacimien')?.touched)"
                        class="text-red-500 text-xs mt-1">
                        <div *ngIf="registerForm.get('fechaNacimien')?.errors?.['required']">Date of birth is required.
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit" [disabled]="registerForm.invalid"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50">
                    Registrarse
                </button>
            </div>
            <div *ngIf="errorMessage" class="text-red-500 text-center text-sm mt-2">
                {{ errorMessage }}
            </div>
        </form>
    </div>
</div>

<button class="fixed bottom-6 right-6
           w-[40px] h-[40px] 
           flex items-center justify-center 
           bg-secondary text-white rounded-full shadow-lg transition-all duration-300 ease-in-out hover:bg-primary 
           focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2"
    aria-label="Subir a la parte superior" (click)="navigateToMessage()">

    <i class="fa-solid fa-arrow-right-to-bracket"></i>
</button>
<button class="fixed bottom-6 left-6
           w-[40px] h-[40px] 
           flex items-center justify-center 
           bg-secondary text-white rounded-full shadow-lg transition-all duration-300 ease-in-out hover:bg-primary 
           focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2" aria-label="Subir a la parte superior"
    (click)="navigateBack()">

    <i class="fa-solid fa-circle-arrow-left fa-xl"></i>
</button>