<div class="min-h-screen flex flex-col items-center justify-center"
    style="background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
    <div class="text-2xl font-medium text-primary mb-6">
        Agrega un mensaje personalizado
        <p-button icon="pi pi-question" severity="secondary" aria-label="Save" (click)="openDialog()" />
    </div>
    <div class="relative w-full max-w-2xl">
        <!-- Main Card -->
        <div class="bg-white rounded-[1rem] p-8 shadow-xl relative z-10">
            <form [formGroup]="pedidoForm">
                <div formGroupName="detallePedido" class="flex justify-between items-center mb-8">
                    <p-floatlabel color="primary">
                        <input id="nombre_emisor" pInputText formControlName="nombre_emisor" />
                        <label for="nombre_emisor">¿Cuál es tu nombre?</label>
                    </p-floatlabel>

                    <p-floatlabel>
                        <input id="nombreObjetivo" pInputText formControlName="nombreObjetivo" />
                        <label for="nombreObjetivo">¿Para quién es el regalo?</label>
                    </p-floatlabel>
                </div>

                <div class="mb-1">
                    <label class="block text-gray-700 text-base">Mensaje para esa persona especial:</label>
                </div>

                <div formGroupName="detallePedido">
                    <textarea id="mensaje" class="w-full" rows="5" cols="30" pTextarea
                        formControlName="mensaje"></textarea>
                </div>
            </form>
        </div>

        <!-- Bottom Elements -->
        <div class="absolute -bottom-11 left-0 w-full flex justify-between items-end px-8 z-20">
            <!-- User Icon -->
            <div class="bg-primary rounded-full p-4 shadow-lg">
                <i class="fa-regular fa-envelope text-2xl text-white"></i>
            </div>
        </div>
    </div>
</div>

<button class="fixed bottom-6 right-6
           w-[40px] h-[40px] 
           flex items-center justify-center 
           bg-secondary text-white rounded-full shadow-lg transition-all duration-300 ease-in-out hover:bg-primary 
           focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2" aria-label="Subir a la parte superior"
    (click)="onSubmit()">

    <i class="fa-solid fa-circle-arrow-right fa-xl"></i>
</button>
<button class="fixed bottom-6 left-6
           w-[40px] h-[40px] 
           flex items-center justify-center 
           bg-secondary text-white rounded-full shadow-lg transition-all duration-300 ease-in-out hover:bg-primary 
           focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2" aria-label="Subir a la parte superior"
    (click)="navigateBack()">

    <i class="fa-solid fa-circle-arrow-left fa-xl"></i>
</button>