<div class="min-h-screen flex flex-col items-center justify-center"
    style="background: linear-gradient(135deg, #fef5e6 0%, #face83 100%);">
    <div class="text-2xl font-medium text-accent mb-6">
        ¿Como será la entrega del regalo?
        <p-button icon="pi pi-question" severity="secondary" aria-label="Save" (click)="openDialog()" />
    </div>
    <div class="relative w-full max-w-xl">
        <!-- Main Card -->
        <div class="bg-white rounded-[1rem] p-8 shadow-xl relative z-10">
            <!-- Header -->
            <div class="flex justify-between items-center mb-8">
                <form [formGroup]="pedidoForm" class="w-full">
                    <div formGroupName="detallePedido" class="space-y-5 w-full">
                        <div class="pb-2">
                            <p-floatlabel color="accent" focus.color="accent">
                                <input id="receptorEncarga" pInputText formControlName="receptorEncarga"
                                    class="w-full" />
                                <label for="receptorEncarga">Receptor encargado</label>
                            </p-floatlabel>
                            <div *ngIf="pedidoForm.get('receptorEncarga')?.invalid && (pedidoForm.get('receptorEncarga')?.dirty || pedidoForm.get('receptorEncarga')?.touched)"
                                class="text-red-500 text-xs mt-1 ml-2">
                                Requerido
                            </div>
                        </div>
                        <div class="flex justify-between items-center">
                            <div>
                                <p-floatlabel color="accent" focus.color="accent">
                                    <input id="celular1" pInputText formControlName="celular1" class="w-full" />
                                    <label for="celular1">Celular 1</label>
                                </p-floatlabel>
                                <div *ngIf="pedidoForm.get('celular1')?.invalid && (pedidoForm.get('celular1')?.dirty || pedidoForm.get('celular_1')?.touched)"
                                    class="text-red-500 text-xs mt-1 ml-2">
                                    Requerido
                                </div>
                            </div>
                            <div>
                                <p-floatlabel color="accent" focus.color="accent">
                                    <input id="celular2" pInputText formControlName="celular2" class="w-full" />
                                    <label for="celular2">Celular 2</label>
                                </p-floatlabel>
                                <div *ngIf="pedidoForm.get('celular2')?.invalid && (pedidoForm.get('celular2')?.dirty || pedidoForm.get('celular2')?.touched)"
                                    class="text-red-500 text-xs mt-1 ml-2">
                                    Requerido
                                </div>
                            </div>
                        </div>
                        <!-- Message Area -->
                        <div>
                            <label class="block text-gray-700 text-base mb-1">¿Alguna instrucción extra?</label>
                            <textarea id="instrucciones" class="w-full" rows="5" cols="30" pTextarea
                                formControlName="instrucciones"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Bottom Elements -->
        <div class="absolute -bottom-11 left-0 w-full flex justify-between items-end px-8 z-20">
            <!-- User Icon -->
            <div class="bg-accent rounded-full p-4 shadow-lg">
                <i class="fa-solid fa-phone-volume text-2xl text-white"></i>
            </div>
        </div>
    </div>
</div>

<button class="fixed bottom-6 right-6
           w-[40px] h-[40px] 
           flex items-center justify-center 
           bg-secondary text-white rounded-full shadow-lg transition-all duration-300 ease-in-out hover:bg-primary 
           focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2" aria-label="Subir a la parte superior"
    (click)="onSubmit()">

    <i class="fa-solid fa-circle-arrow-right fa-xl"></i>
</button>
<button class="fixed bottom-6 left-6
           w-[40px] h-[40px] 
           flex items-center justify-center 
           bg-secondary text-white rounded-full shadow-lg transition-all duration-300 ease-in-out hover:bg-primary 
           focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2" aria-label="Subir a la parte superior"
    (click)="navigateBack()">

    <i class="fa-solid fa-circle-arrow-left fa-xl"></i>
</button>