<div class="min-h-screen flex flex-col items-center justify-center bg-gray-50 p-4"
    style="background: linear-gradient(135deg, #f7faf5 0%, #ace2a6 100%);">
    <div class="text-2xl font-medium text-primary mb-6 text-secondary">
        Configura la ubicación
        <p-button icon="pi pi-question" severity="secondary" aria-label="Save" (click)="openDialog()" />
    </div>
    <div class="relative w-full max-w-md">
        <!-- Main Card -->
        <div class="bg-white rounded-[1rem] p-5 shadow-xlrelative z-10">
            <!-- Dropdown para ubicaciones guardadas -->
            <form [formGroup]="pedidoForm">
                <div formGroupName="detallePedido">
                    <p-dropdown class="w-full" [options]="ubicaciones" formControlName="ubicacionId"
                        optionLabel="direccion" optionValue="id" placeholder="Selecciona una ubicacion guardada" />
                </div>
            </form>
            <div class="text-center my-5 text-secondary">ó ingresa una nueva</div>
            <!-- Form -->
            <form [formGroup]="locationForm" (ngSubmit)="onSubmit()" class="space-y-2">

                <!-- Ubicación 1 -->
                <div>
                    <p-floatlabel color="primary" focus.color="primary">
                        <input id="direccion" pInputText formControlName="direccion" class="w-full" />
                        <label for="direccion">Detalle (Ej. Calle 123, Barrio, referencia)</label>
                    </p-floatlabel>
                    <div *ngIf="locationForm.get('direccion')?.invalid && (locationForm.get('direccion')?.dirty || locationForm.get('direccion')?.touched)"
                        class="text-red-500 text-xs ml-2">
                        Requerido
                    </div>
                </div>
                <!-- Map Placeholder -->
                <div class="rounded-xl overflow-hidden relative">
                    <label class="block text-gray-700 text-base mb-1">Selecciona la ubicacion para la entrega:</label>
                    <div id="map"></div>
                </div>
            </form>
            <div *ngIf="errorMessage" class="text-red-500 text-center text-sm mt-2">
                {{ errorMessage }}
            </div>

        </div>

        <!-- Bottom Elements -->
        <div class="absolute -bottom-11 left-0 w-full flex justify-between items-end px-8 z-20">
            <!-- User Icon -->
            <div class="bg-secondary rounded-full p-4 shadow-lg">
                <i class="fa-solid fa-location-dot text-2xl text-white"></i>
            </div>
        </div>
    </div>
</div>

<button class="fixed bottom-6 right-6
           w-[40px] h-[40px] 
           flex items-center justify-center 
           bg-secondary text-white rounded-full shadow-lg transition-all duration-300 ease-in-out hover:bg-primary 
           focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2" aria-label="Subir a la parte superior"
    (click)="onSubmit()">

    <i class="fa-solid fa-circle-arrow-right fa-xl"></i>
</button>
<button class="fixed bottom-6 left-6
           w-[40px] h-[40px] 
           flex items-center justify-center 
           bg-secondary text-white rounded-full shadow-lg transition-all duration-300 ease-in-out hover:bg-primary 
           focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2" aria-label="Subir a la parte superior"
    (click)="navigateBack()">

    <i class="fa-solid fa-circle-arrow-left fa-xl"></i>
</button>